# API Configuration
NEXT_PUBLIC_API_URL="http://localhost:8000/api"

# Application Configuration
NEXT_PUBLIC_APP_NAME="Freedom Mail"
NEXT_PUBLIC_DOMAIN="yusufstar.com"

# Development
NEXT_PUBLIC_URL="http://localhost:3000"